@font-face
{
  font-family: "Graphik LC Web";
  src: url("../fonts/GraphikCWebRegular.eot"); /* IE9*/
  src: url("../fonts/GraphikCWebRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/GraphikCWebRegular.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/GraphikCWebRegular.woff") format("woff"), /* chrome、firefox */
  url("../fonts/GraphikCWebRegular.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  font-style: normal;
  font-weight: 400;
}

@font-face {font-family: "Graphik LC Web";
  src: url("../fonts/GraphikLCWebMedium.eot"); /* IE9*/
  src: url("../fonts/GraphikLCWebMedium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/GraphikLCWebMedium.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/GraphikLCWebMedium.woff") format("woff"), /* chrome、firefox */
  url("../fonts/GraphikLCWebMedium.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  font-style: normal;
  font-weight: 500;
}


@font-face {font-family: "Graphik LC Web";
  src: url("../fonts/GraphikLCWebSemibold.eot"); /* IE9*/
  src: url("../fonts/GraphikLCWebSemibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/GraphikLCWebSemibold.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/GraphikLCWebSemibold.woff") format("woff"), /* chrome、firefox */
  url("../fonts/GraphikLCWebSemibold.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  font-style: normal;
  font-weight: 600;
}

@font-face {font-family: "Graphik LC Web";
  src: url("../fonts/GraphikLCWebBold.eot"); /* IE9*/
  src: url("../fonts/GraphikLCWebBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/GraphikLCWebBold.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/GraphikLCWebBold.woff") format("woff"), /* chrome、firefox */
  url("../fonts/GraphikLCWebBold.ttf") format("truetype"); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  font-style: normal;
  font-weight: 700;
}
