@import "adaptive";

.menu-wrap{
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

    @include large{
      padding: 0 12px;
    }

    @include small{
      height: 64px;
    }

    &__right-block{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
}

.nav{
  display: block;

  @include small{
    display: none;
  }


  &__link{
    text-decoration: none;
    color: #1D1D1F;
    font-weight: 500;
    padding: 2px 0;
    transition: 0.3s;
    margin: 0 24px 0 0;
    position: relative;

      &:hover{
        transition: 0.4s;
        color: #238844;
      }

      &:hover::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 2px;
        bottom: -8px;
        left: 0;
        background: #238844;
        animation: borderLine 0.8s;
      }

    @include large{
      margin: 0 16px 0 0;
    }

    @include medium{
      display: inline-block;
      margin: 0 18px 3px 0;

      &:hover::after{
        bottom: -3px;
      }
    }

    @include small{
      &:after{
        display: none;
      }
    }

  }
}

.logo{
    margin: 0 40px 0 0;

    &__link{
      transition: 0.3s;
      opacity: 1;

      &:hover{
        transition: 0.4s;
        opacity: 0.5;
      }
    }

    &__wrap{
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__image{
      width: 42px;
      height: 42px;
      margin: -4px 8px 0 0;

        @include medium{
          height: 36px;
          width: 36px;
        }

        @include small{
          height: 32px;
          width: 32px;
          margin-right: 6px;
        }
    }

    &__image2{
      width: 125px;

        @include medium{
          width: 104px;
        }

        @include small{
          width: 90px;
          margin: 4px 0 0 0;
        }
    }
}

.header-buttons{
  display: flex;
  flex-direction: row;

  @include small{
    display: none;
  }

}

.header-button{
  text-decoration: none;
  padding: 8px 24px;
  color: #FFFFFF;
  font-weight: 500;
  border-radius: 3px;
  transition: 0.4s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    opacity: 0.5;
    transition: 0.5s;
    border-radius: 5px;
  }

    &_green{
      background: #16BF54;
      margin-right: 8px;
    }

    &_black{
      background: #1D1D1F;
    }
}

.hamburger__span {
  display:block;
  background: #999999;
  border-radius:4px;
  transition: .25s ease-in-out;
}

.menu-toggle {
  width:24px;
  height:auto;
  position: fixed;
  z-index: 50;
  top: 24px;
  right: 20px;
  cursor:pointer;
  display: none;

   @include small{
     display: block;
   }

  .hamburger {
    position:absolute;
    height:auto;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      width:100%;
      height:3px;
      margin:2px 0;
      &:nth-child(1){
        transition-delay:.5s;
      }
      &:nth-child(2){
        transition-delay:.625s;
      }
      &:nth-child(3){
        transition-delay:.75s;
      }
    }
  }
  .cross {
    position:absolute;
    height:28px;
    width:28px;
    transform:rotate(45deg);
    span{
      &:nth-child(1){
        height:0;
        width:4px;
        position:absolute;
        top: 0;
        left: 12px;
        transition-delay:0s;
      }
      &:nth-child(2){
        width:0;
        height:4px;
        position:absolute;
        left: 0;
        top: 12px;
        transition-delay:.25s;
      }
    }
  }
}

.menu-toggle.open {
  .hamburger {
    span {
      width:0;
      &:nth-child(1){
        transition-delay:0s;
      }
      &:nth-child(2){
        transition-delay:.125s;
      }
      &:nth-child(3){
        transition-delay:.25s;
      }
    }
  }
  .cross {
    span {
      &:nth-child(1){
        height:100%;
        transition-delay:.625s;
      }
    }
    span {
      &:nth-child(2){
        width:100%;
        transition-delay:.375s;
      }
    }
  }
}

@keyframes borderLine {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}